body {
    font-family: 'Barlow', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

#artwork {
    padding-top: 8vh;
}

#artwork > h1 {
    font-weight: 600;
}

#artwork > p {
    font-size: 1.1em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1vh 50vh 10vh 50vh;
    transition-duration: 0.4s;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 0.5vw 0 0.5vw;
    transition-duration: 0.4s;
}

img {
    width: 100%;
    margin-top: 2vh;
    vertical-align: middle;
}