/* ----------------------------
--- UI List
----------------------------- */

#ui-list {
    background-color: white;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    text-align: center;
    align-content: center;
    padding: 15vh 0 5vh 0;
}

#ui-list h1 {
    font-weight: bold;
}

#ui-list img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ui-list .img-ui {
    width: 65%;
    height: 100%;
}

#ui-list .img-ui-left {
    margin: 0 1vw 0 10vw;
    max-width: 31.5%;
    max-height: 100%;
    display: inline;
}

#ui-list .img-ui-right {
    margin: 0 10vw 0 1vw;
    max-width: 31.5%;
    max-height: 100%;
    display: inline;
}

#ui-list #ui-content {
    padding: 5vh 0 0 0;
}

#ui-list #ui-content h1 {
    font-size: 3.5em;
    font-weight: bold;
    text-align: left;
}

#ui-content .container-fluid {
    padding: 5vh 0 0 0;
}

/* ----------------------------
--- Typos
----------------------------- */

.segoe-ui-semibold {
    font-family: 'Segoe UI Semibold', sans-serif;
    text-align: center;
    margin-bottom: 5vh;
}

.segoe-ui-semibold p, .segoe-ui p {
    font-size: 1.5em;
}

/* ----------------------------
--- Responsive Fixes
----------------------------- */

@media screen and (max-width: 1028px) {
    #ui-list .img-ui {
        width: 80%;
        height: 100%;
    }
    
    #ui-list .img-ui-left {
        margin: 0 1vw 0 8vw;
        max-width: 40%;
        max-height: 100%;
        display: inline;
    }
    
    #ui-list .img-ui-right {
        margin: 0 8vw 0 1vw;
        max-width: 40%;
        max-height: 100%;
        display: inline;
    }
}

@media screen and (max-width: 768px) {
    .segoe-ui p, .segoe-ui-semibold p {
        font-size: 1em;
    }
}
