/* Tablet */

@media only screen and (max-width: 768px) {
    .button-big {
        font-size: 1em;
        margin: 1vh 1vw;
    }

    #introduction > h1 {
        font-size: 6em;
    }
}

/* Mobile */

@media only screen and (max-width: 425px) {
    #banner {
        height: 55vh;
    }

    #banner > h1 {
        font-size: 4em;
        padding-top: 12vh;
    }

    #banner > p {
        font-size: 1.2em;
    }

    #banner > .row {
        font-size: 1em;
        padding-top: 20px;
    }

    #banner > .row > .col-md-4 > p {
        margin: 0;
        padding: 0;
    }

    #intro > .row {
        height: 650px;
    }

    #intro h1 {
        font-size: 2.5em;
    }

    #intro .right > p {
        font-size: 1em;
    }

    #intro .right {
        height: 400px;
        padding: 7vh 10vw 5vh 10vw;
    }

    .sub-title {
        font-size: 1.8em;
        padding-bottom: 10px;
    }

    #two-apps {
        height: 100%;
    }

    #two-apps > .col-md-5 > p, #order > .col-md-5 > p {
        font-size: 1em;
    }

    #two-apps img {
        width: 100%;
    }

    #order {
        flex-direction: column-reverse;
        max-height: 550px;
    }

    #order > .col-md-5 {
        padding: 2vh 5vw 10vh 12vw;
    }

    #order > .col-md-7 {
        padding: 0;
    }

    #order img {
        width: 100%;
    }

    footer {
        padding: 8vh 2vw 8vh 2vw;
    }

    footer > h1 {
        font-size: 1.5em;
    }

    footer > .fa-2x > a {
        font-size: 0.6em;
        margin-right: 16px;
        margin-left: 16px;
    }
}