$cyan: #00B3CF;

#menu {
  #menu_header {
    padding-top: 3vh;
    * {
      font-family: 'Noticia Text';
      font-size: 2vh;
      font-weight: 400;
      color: black;
      b {
        font-weight: 700;
      }
    }
    >div {
      flex-basis: 50%;
    }
    #links {
      justify-content: flex-end;
      a {
        margin-left: 2rem;
      }
    }
    .hoverable {
      >div {
        background-color: $cyan;
        width: 0;
        height: 0.2rem;
        transition-duration: 0.2s;
      }
      &:hover {
        >div {
          width: 100%;
        }
      }
    }
    @media screen and (orientation:portrait) {
      padding-left: 5vw;
      padding-right: 5vw;
    }
  }
}