/* Phone */

@media only screen and (max-width: 425px) {
    #uiux-section {
        padding: 10vh 0 0 0;
        text-align: center;
    }

    #uiux-section > h1 {
        font-size: 2em;
        padding: 0 5vw 0 5vw;
    }

    #uiux-section > p {
        font-size: 1em;
    }

    #uiux-section > .row {
        display: block;
    }

    .uiux-part {
        margin: 0;
        height: 60vw;
        width: 100%;
    }

    .uiux-part > a {
        width: 100%;
    }

    .uiux-part > a > div > img {
        margin-top: -9%;
    }
}